<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-header mb-5">
	<div class="row mt-5">
		<div class="col-12 col-xxl-6 d-flex justify-content-center">
			<div><img src="{% static 'img/Cake2.png' %}" alt=""></div>
		</div>
		<div class="col-12 col-xxl-6 d-flex flex-column justify-content-center align-items-center align-items-xxl-start" id="LK">
			<v-form :validation-schema="Schema" @submit="ApplyChanges">
				<div class="d-flex w-100 justify-content-center justify-content-xxl-between align-items-center">
					<h1 class="font_Gogh fs_40 cake_blue">{{ title }}</h1>
				</div>
				<div class="d-flex">
					<ul class="list-group">
						<li class="list-group-item border-0 ps-0">
							<span class="fs_40 cake_blue">Имя: {{ user }}</span>
						</li>
						<li class="list-group-item border-0 ps-0">
							<h1 class="fs_40 cake_blue">Телефон: {{ phone }}</h1>
						</li>
						<li class="list-group-item border-0 ps-0">
							<h1 class="fs_40 cake_blue">Почта: {{ email }}</h1>
						</li>
					</ul>
					<ul class="list-group">
						<li class="list-group-item border-0 py-61 position-relative">
							<v-field v-model="Name" type="text" name="name_format" id="name" :readonly="!Edit" class="form-control my-2 i cake__textinput"></v-field>
							<error-message name="name_format" class="position-absolute bottom-0 cake_pink fs_12"></error-message>
						</li>
						<li class="list-group-item border-0 py-61 position-relative">
							<v-field v-model="Phone" type="text" name="phone_format" id="phone" :readonly="!Edit" class="form-control my-2 cake__textinput"></v-field>
							<error-message name="phone_format" class="position-absolute bottom-0 cake_pink fs_12"></error-message>
						</li>
						<li class="list-group-item border-0 py-61 position-relative">
							<v-field v-model="Email" type="text" name="email_format" id="email" :readonly="!Edit" class="form-control my-2 cake__textinput"></v-field>
							<error-message name="email_format" class="position-absolute bottom-0 cake_pink fs_12"></error-message>
						</li>
					</ul>
				</div>
			</v-form>
			<h2 class="fs_40 cake_pink mt-5">Мои заказы</h2>
			<span class="cake_grey">У вас еще нет заказов.</span>
			<p class="cake_grey">Вы можете добавить торт из <a href="{% url 'base' %}#step2" class="text-decoration-none cake_pink">Каталога</a> или <a href="{% url 'base' %}#step3" class="text-decoration-none cake_pink">Создать свой</a>.</p>
			<span class="cake_grey">Есть вопросы?</span>
			<span class="cake_grey">Воспользуйтесь нашим <a href="https://vk.com/devmanorg" class="text-decoration-none cake_pink">чат-ботом</a>.</span>
			<button class="btn text-white rounded-pill align-self-end px-5 mt-3 shadow-none cake__button cake__bg_pink">Выйти</button>
		</div>
	</div>
</div>
{% endblock content %}